{% import 'shop/macros/heading.html.twig' as ui %}

<div class="flex gap-4 border-b border-gray-200 pb-[1rem]">
    <div class="w-full max-w-[120px]">
        {% set imagePath = item.product.getThumbnailImage %}
        {% include 'shop/partials/_page_item_image.html.twig' with { itemName: item.product.name, imagePath: imagePath } %}
    </div>
    <div class="flex flex-col justify-between">
        <div>
            <div class="flex gap-4 justify-between items-center">
                <a href="#">
                    {{ ui.heading('h2', item.product.name, 'text-primary-content cursor-pointer transition-all duration-300 hover:text-primary') }}
                </a>
                <span>{{ item.price }}</span>
            </div>
        </div>
        <div class="flex gap-4 items-center">
            {% set inputId = 'product-cart-' ~ item.product.id %}
            {% include 'shop/partials/_input_quantity.html.twig' with {quantity: item.quantity, productId: item.product.id, id: inputId} %}

            <span class="btn-remove-product cursor-pointer  duration-300 transition-all hover:text-primary" data-product-id="{{ item.product.id }}">
                {{ getSvgInline('build/images/trash.svg', 'w-[30px] h-[30px]')|raw }}
            </span>
        </div>
    </div>

</div>
