@import 'tailwindcss';

body {
    font-family: Inter, sans-serif;
}

@theme {
    --breakpoint-2xl: 100rem;

    --color-gray: f2f4f7;
    --color-primary-light: #ecf3ff;
    /*--color-primary: #465fff;*/
    --color-primary-stronger: #3641f5;
    /*--color-secondary: #0989ff;*/
    --progress-time: 1000ms;

    --color-background-base: #f8fafc;
    --color-surface-base: #f1f5f9;

    --color-primary: #b39eb4;
    --color-primary-hover: #d1c1d9;
    --color-primary-active: #8f7a99;

    --color-secondary: #978fa8;
    --color-secondary-hover: #b0a3b8;
    --color-secondary-active: #7b6f8a;

    --color-tertiary: #7a687f;

    --color-success: #d1e7dd;
    --color-success-hover: #e9f7ef;
    --color-success-active: #a9d9b8;

    --color-error: #f8d7da;
    --color-error-hover: #fdecef;
    --color-error-active: #eba3a7;

    --color-warning: #fff3cd;
    --color-warning-hover: #fffae6;
    --color-warning-active: #ffe58a;

    --color-info: #d1ecf1;
    --color-info-hover: #eaf7f9;
    --color-info-active: #a8dadd;
}

@keyframes progressAnimation {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.progress-bar {
    animation: progressAnimation var(--progress-time) linear forwards;
}

.data-table {
    border-spacing: 0 15px;
}

.data-table tr {
    border-radius: 1.25rem;
}

.data-table tr td:first-child {
    border-radius: 0.625rem 0 0 0.625rem; /* lewy górny i lewy dolny */
}

.data-table tr td:last-child {
    border-radius: 0 0.625rem 0.625rem 0; /* prawy górny i prawy dolny */
}
