{% extends 'shop/base.html.twig' %}

 {% block title %}
     <title>{{ 'Koszyk' }}</title>
 {% endblock %}

{% block body %}
    {% include 'shop/partials/_page_header.html.twig' with {pageTitle: 'Koszyk'} %}

    {% set wrapperId = 'cart-' ~ cart.id %}
    {% embed 'shop/partials/_content_wrapper.html.twig' with {tag: 'section', id: wrapperId} %}
        {% block content %}
            <div id="react-cart"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('shop/cart') }}
{% endblock %}
