{% extends 'shop/base.html.twig' %}

 {% block title %}
     <title>{{ 'Koszyk' }}</title>
 {% endblock %}


{% block body %}
    {% include 'shop/partials/_page_header.html.twig' with {pageTitle: 'Koszyk'} %}

    {% set wrapperId = 'cart-' ~ cart.id %}
    {% embed 'shop/partials/_content_wrapper.html.twig' with {tag: 'section', id: wrapperId} %}
        {% block content %}
            <div id="react-cart"></div>
            <div class="flex flex-col gap-[1.5rem] lg:flex-row">
                <div class="w-full lg:flex-[2.5]">
                    <div class="flex flex-col gap-[2rem]">
                        {% for item in cart.items %}
                            {% include 'shop/cart/partials/_cart_item.html.twig' %}
                        {% endfor %}
                    </div>

                </div>
                <div class="w-full lg:flex-[1.5]">
                    Kup sobie
                </div>
            </div>


        {% endblock %}
    {% endembed %}
{% endblock %}
