<footer class="bg-background-base">
    <div class="w-full lg:container px-4 py-4 lg:mx-auto lg:px-auto">
        {{ "now"|date("Y") }} {{ metaTitle }} - Wszystkie prawa zastrzeżone.
    </div>
</footer>
