{% extends 'emails/base.html.twig' %}

{% block styles %}
    <style>
        .link {
            background: #3641f5;
            padding: 12px 24px;
            color: white;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 300px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="header">
        <h1>Witaj</h1>
    </div>
    <p>Otrzymałeś tę wiadomość, ponieważ poprosiłeś o resetowanie hasła. Jeśli to nie Ty, po prostu zignoruj tę wiadomość.</p>
    <p>Żeby kontynuować, kliknij w poniższy link:</p>
    {% for data in context %}
        <p> {{ data|raw }} </p>
    {% endfor %}
{% endblock %}
