<div class="w-full lg:max-w-[900px] react-product-thumbnail-swiper" data-images="{{ product.images.toArray|json_encode }}">
        <div class="animate-pulse w-full relative bg-gray-200 rounded-lg h-[630px]"></div>
</div>
